name: .NET Core Desktop

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    env:
      Solution_Name: WhereMyWinCursor.sln

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Get the commit hash
      run: |
        $commitHash = git rev-parse --short HEAD
        echo "COMMIT_HASH=$commitHash" >> $env:GITHUB_ENV

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore
      run: dotnet restore

    - name: Build
      run: |
        dotnet build --configuration ${{ matrix.configuration }} --no-restore /p:VersionSuffix="${{ env.COMMIT_HASH }}"

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: WhereMyWinCursor-${{ matrix.configuration }}-${{ env.COMMIT_HASH }}
        path: |
          **/bin/${{ matrix.configuration }}/**/*.exe
